body {
    background-color: #000000; /* Change this color to your preferred color */
}

.stApp {
    background-color: hsl(252, 61%, 64%); /* Change this color to your preferred color */
}

.stTextInput>div>div>input {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
